@font-face{
    font-family: myFont;
    src:url(font.ttf)
}

body {
    font-family: monospace;
    font-size: 50px;
    color: whitesmoke;
    margin: 0;
    text-align: center;
    background-color: rgb(13, 14, 16);
}

h2{
    box-sizing: border-box;
    border: 5px solid whitesmoke;
    text-align: center;
    margin: auto;
    border-radius: 2px;
}

.score {
    padding: 20px 20px;
    font-family: myFont;
    background: #0a0001;
    font-size: 90px;
    color: #e6dbdd;
    width: 120px;
    margin: 20px;
}

.container {
    display: flex;
    justify-content: space-around;
}

button {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
    background: none;
}






